.center {
    max-width: 1000px;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    background: center no-repeat;  
    background-size: contain; 
    width:100%;  
    background-color: rgba(255, 255, 255, 0.815) !important;
    background-blend-mode: color;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
}
.title{ 
    color: #22c0e8; 
}
.date{ 
    color: lightskyblue;
    margin:0px; 
}
ul.job-details{ 
    padding-left:20px; 
}
.mobile{ 
    display:none; 
}

.desktop{ 
    display:block; 
}
/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .mobile{display: block;}       
    .desktop{display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
    .mobile{display: block;}
    .desktop{display: none;}
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
  }